
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/fee77d14d89d3c71/APPLICATION.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/e8c0795d7a4e6e1f/MAIN.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/726b7be181f8bbea/MAIN.ipch
.vs/Plancksoft-Game-Engine/v17/DocumentLayout.json
.vs/Plancksoft-Game-Engine/v17/Browse.VC.opendb
.vs/Plancksoft-Game-Engine/v17/Browse.VC.db-wal
.vs/Plancksoft-Game-Engine/v17/Browse.VC.db-shm
.vs/Plancksoft-Game-Engine/v17/Browse.VC.db
.vs/Plancksoft-Game-Engine/v17/.wsuo
.vs/Plancksoft-Game-Engine/FileContentIndex/eef145cb-ae4c-438c-894b-38e2581c6206.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/cff060ec-c97e-4bee-a2a0-5d02162cfc4d.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/43620dd5-6b89-49d5-b28f-211ea6e3c66d.vsidx
.vs/Plancksoft-Game-Engine/config/applicationhost.config
.vs/launch.vs.json
.vs/cmake.db
.vs/CMake Overview
.vs/Plancksoft-Game-Engine/FileContentIndex/9891978e-88ce-4f14-a2ed-5d97ec1a8507.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/dca19f65-85be-45f8-a4e9-6b027f883e66.vsidx
Build/Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
Build/Debug/.cmake/api/v1/reply/cache-v2-7a541ec14beaadbaf92a.json
Build/Debug/.cmake/api/v1/reply/cmakeFiles-v1-a18d299cb9b531fc0f96.json
Build/Debug/.cmake/api/v1/reply/codemodel-v2-30881e0162bb76a87467.json
Build/Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Build/Debug/.cmake/api/v1/reply/directory-_deps.assimp-build-Debug-430a6f694b4f8606eac3.json
Build/Debug/.cmake/api/v1/reply/directory-_deps.assimp-build.code-Debug-16c204ab1a675367a2c0.json
Build/Debug/.cmake/api/v1/reply/directory-_deps.assimp-build.contrib.zlib-Debug-325d4844eeb3a542a5a3.json
Build/Debug/.cmake/api/v1/reply/directory-_deps.glfw-build-Debug-0ab86dfef0dc88a3b9a1.json
Build/Debug/.cmake/api/v1/reply/directory-_deps.glfw-build.examples-Debug-035cf5053bfa7cc213c8.json
Build/Debug/.cmake/api/v1/reply/directory-_deps.glfw-build.src-Debug-37d05c5fccc468217f9f.json
Build/Debug/.cmake/api/v1/reply/directory-_deps.glfw-build.tests-Debug-0b39b78819ef189c72a6.json
Build/Debug/.cmake/api/v1/reply/directory-Source.EditorApplication-Debug-b5c78ff7816e52adff07.json
Build/Debug/.cmake/api/v1/reply/directory-Source.Runtime-Debug-8aa401ac99b2abd74959.json
Build/Debug/.cmake/api/v1/reply/index-2024-03-22T09-25-00-0097.json
Build/Debug/.cmake/api/v1/reply/target-assimp-Debug-f4f022baa1ff363861d2.json
Build/Debug/.cmake/api/v1/reply/target-boing-Debug-70450ae146b5dbd2f5ee.json
Build/Debug/.cmake/api/v1/reply/target-clipboard-Debug-da3d8831c8197d9f7b78.json
Build/Debug/.cmake/api/v1/reply/target-cursor-Debug-e09add2e36345f595d46.json
Build/Debug/.cmake/api/v1/reply/target-EditorApplication-Debug-f76fe206ec2c2ba6ccce.json
Build/Debug/.cmake/api/v1/reply/target-empty-Debug-28a4aceab60e9b76513e.json
Build/Debug/.cmake/api/v1/reply/target-events-Debug-50b15808f97c87ebfa37.json
Build/Debug/.cmake/api/v1/reply/target-gamma-Debug-94b8e3d7129b06d3d1f3.json
Build/Debug/.cmake/api/v1/reply/target-gears-Debug-f437c12db2227ee1ea32.json
Build/Debug/.cmake/api/v1/reply/target-glfw-Debug-542ea6d570b2ea341c2a.json
Build/Debug/.cmake/api/v1/reply/target-glfwinfo-Debug-c72195c1a08baa122ae1.json
Build/Debug/.cmake/api/v1/reply/target-heightmap-Debug-aa208cdad5c8afc8bdd0.json
Build/Debug/.cmake/api/v1/reply/target-icon-Debug-a236850c8e8be654109e.json
Build/Debug/.cmake/api/v1/reply/target-iconify-Debug-0946237f2b2a6feba3e6.json
Build/Debug/.cmake/api/v1/reply/target-inputlag-Debug-457c5cba720ad94d7ac6.json
Build/Debug/.cmake/api/v1/reply/target-joysticks-Debug-05c59cf4e7db1b4486dc.json
Build/Debug/.cmake/api/v1/reply/target-monitors-Debug-1711db29a57ed74eb2f3.json
Build/Debug/.cmake/api/v1/reply/target-msaa-Debug-0799519b91b5e0e58b6e.json
Build/Debug/.cmake/api/v1/reply/target-offscreen-Debug-a4aa1dd9b0242bbd4a31.json
Build/Debug/.cmake/api/v1/reply/target-opacity-Debug-0ca8019e2f55071bd1a8.json
Build/Debug/.cmake/api/v1/reply/target-particles-Debug-2e7210cfc7444e98a8e7.json
Build/Debug/.cmake/api/v1/reply/target-reopen-Debug-c7c8d57335d38e731a72.json
Build/Debug/.cmake/api/v1/reply/target-Runtime-Debug-e3bdff9afc294f8e5fcd.json
Build/Debug/.cmake/api/v1/reply/target-sharing-Debug-6d3f2b60617f3aa93595.json
Build/Debug/.cmake/api/v1/reply/target-simple-Debug-6eab02022f93706d4f2d.json
Build/Debug/.cmake/api/v1/reply/target-splitview-Debug-1187b571377fdb172e87.json
Build/Debug/.cmake/api/v1/reply/target-tearing-Debug-4ffc9795d10ae35d9395.json
Build/Debug/.cmake/api/v1/reply/target-threads-Debug-4d40254e8a1f2630dce8.json
Build/Debug/.cmake/api/v1/reply/target-timeout-Debug-73e3c749bc6a6d610adb.json
Build/Debug/.cmake/api/v1/reply/target-title-Debug-628178918adf58a8ff14.json
Build/Debug/.cmake/api/v1/reply/target-triangle-vulkan-Debug-84038d055900e8abdbfa.json
Build/Debug/.cmake/api/v1/reply/target-uninstall-Debug-b81d47848238faf9e472.json
Build/Debug/.cmake/api/v1/reply/target-update_mappings-Debug-49a94525a4982adc9515.json
Build/Debug/.cmake/api/v1/reply/target-UpdateAssimpLibsDebugSymbolsAndDLLs-Debug-03dc8b613a77ee9b90b3.json
Build/Debug/.cmake/api/v1/reply/target-wave-Debug-13e3fe4af9addaf25221.json
Build/Debug/.cmake/api/v1/reply/target-windows-Debug-ad38f37cd20b5056d2a0.json
Build/Debug/.cmake/api/v1/reply/target-zlibstatic-Debug-7af0545e169efd44e431.json
Build/Debug/.cmake/api/v1/reply/toolchains-v1-91e62274ea676d756ea8.json
Build/Debug/.ninja_deps
Build/Debug/.ninja_log
Build/Debug/_deps/assimp-build/assimp.pc
Build/Debug/_deps/assimp-build/cmake_install.cmake
Build/Debug/_deps/assimp-build/CMakeFiles/Export/276191b64e4aaa7fa3bf193da4658da2/assimpTargets-debug.cmake
Build/Debug/_deps/assimp-build/CMakeFiles/Export/276191b64e4aaa7fa3bf193da4658da2/assimpTargets.cmake
Build/Debug/_deps/assimp-build/code/cmake_install.cmake
Build/Debug/_deps/assimp-build/contrib/zlib/cmake_install.cmake
Build/Debug/_deps/assimp-build/contrib/zlib/CTestTestfile.cmake
Build/Debug/_deps/assimp-build/contrib/zlib/zconf.h
Build/Debug/_deps/assimp-build/contrib/zlib/zlib.pc
Build/Debug/_deps/assimp-build/generated/assimpConfig.cmake
Build/Debug/_deps/assimp-build/generated/assimpConfigVersion.cmake
Build/Debug/_deps/assimp-build/include/assimp/config.h
Build/Debug/_deps/assimp-build/revision.h
Build/Debug/_deps/assimp-src/
Build/Debug/_deps/assimp-subbuild/.ninja_log
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-build
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-configure
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-done
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-download
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-gitclone-lastrun.txt
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-gitinfo.txt
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-install
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-mkdir
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-patch
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-patch-info.txt
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-test
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/src/assimp-populate-stamp/assimp-populate-update-info.txt
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/tmp/assimp-populate-cfgcmd.txt
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/tmp/assimp-populate-gitclone.cmake
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/tmp/assimp-populate-gitupdate.cmake
Build/Debug/_deps/assimp-subbuild/assimp-populate-prefix/tmp/assimp-populate-mkdirs.cmake
Build/Debug/_deps/assimp-subbuild/build.ninja
Build/Debug/_deps/assimp-subbuild/cmake_install.cmake
Build/Debug/_deps/assimp-subbuild/CMakeCache.txt
Build/Debug/_deps/assimp-subbuild/CMakeFiles/3.28.0-msvc1/CMakeSystem.cmake
Build/Debug/_deps/assimp-subbuild/CMakeFiles/assimp-populate-complete
Build/Debug/_deps/assimp-subbuild/CMakeFiles/assimp-populate.dir/Labels.json
Build/Debug/_deps/assimp-subbuild/CMakeFiles/assimp-populate.dir/Labels.txt
Build/Debug/_deps/assimp-subbuild/CMakeFiles/cmake.check_cache
Build/Debug/_deps/assimp-subbuild/CMakeFiles/CMakeConfigureLog.yaml
Build/Debug/_deps/assimp-subbuild/CMakeFiles/rules.ninja
Build/Debug/_deps/assimp-subbuild/CMakeFiles/TargetDirectories.txt
Build/Debug/_deps/assimp-subbuild/CMakeLists.txt
Build/Debug/_deps/glfw-build/cmake_install.cmake
Build/Debug/_deps/glfw-build/cmake_uninstall.cmake
Build/Debug/_deps/glfw-build/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
Build/Debug/_deps/glfw-build/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
Build/Debug/_deps/glfw-build/examples/boing.exe
Build/Debug/_deps/glfw-build/examples/boing.ilk
Build/Debug/_deps/glfw-build/examples/boing.pdb
Build/Debug/_deps/glfw-build/examples/cmake_install.cmake
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/__/deps/glad_gl.c.obj
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/boing.c.obj
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/embed.manifest
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/glfw.i
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/glfw.rc.res
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/intermediate.manifest
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/manifest.rc
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/manifest.res
Build/Debug/_deps/glfw-build/examples/CMakeFiles/boing.dir/vc140.pdb
Build/Debug/_deps/glfw-build/src/cmake_install.cmake
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/context.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/egl_context.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/glfw.pdb
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/init.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/input.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/monitor.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/vulkan.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/wgl_context.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/win32_init.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/win32_thread.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/win32_time.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/win32_window.c.obj
Build/Debug/_deps/glfw-build/src/CMakeFiles/glfw.dir/window.c.obj
Build/Debug/_deps/glfw-build/src/glfw3.lib
Build/Debug/_deps/glfw-build/src/glfw3.pc
Build/Debug/_deps/glfw-build/src/glfw3Config.cmake
Build/Debug/_deps/glfw-build/src/glfw3ConfigVersion.cmake
Build/Debug/_deps/glfw-build/src/glfw_config.h
Build/Debug/_deps/glfw-build/tests/cmake_install.cmake
Build/Debug/_deps/glfw-src/
Build/Debug/_deps/glfw-subbuild/.ninja_log
Build/Debug/_deps/glfw-subbuild/build.ninja
Build/Debug/_deps/glfw-subbuild/cmake_install.cmake
Build/Debug/_deps/glfw-subbuild/CMakeCache.txt
Build/Debug/_deps/glfw-subbuild/CMakeFiles/3.28.0-msvc1/CMakeSystem.cmake
Build/Debug/_deps/glfw-subbuild/CMakeFiles/cmake.check_cache
Build/Debug/_deps/glfw-subbuild/CMakeFiles/CMakeConfigureLog.yaml
Build/Debug/_deps/glfw-subbuild/CMakeFiles/glfw-populate-complete
Build/Debug/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/Labels.json
Build/Debug/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/Labels.txt
Build/Debug/_deps/glfw-subbuild/CMakeFiles/rules.ninja
Build/Debug/_deps/glfw-subbuild/CMakeFiles/TargetDirectories.txt
Build/Debug/_deps/glfw-subbuild/CMakeLists.txt
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-build
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-configure
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-done
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-download
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-gitclone-lastrun.txt
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-gitinfo.txt
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-install
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-mkdir
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-patch
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-patch-info.txt
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-test
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-update-info.txt
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/tmp/glfw-populate-cfgcmd.txt
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/tmp/glfw-populate-gitclone.cmake
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/tmp/glfw-populate-gitupdate.cmake
Build/Debug/_deps/glfw-subbuild/glfw-populate-prefix/tmp/glfw-populate-mkdirs.cmake
Build/Debug/_deps/stbi-src/
Build/Debug/_deps/stbi-subbuild/.ninja_log
Build/Debug/_deps/stbi-subbuild/build.ninja
Build/Debug/_deps/stbi-subbuild/cmake_install.cmake
Build/Debug/_deps/stbi-subbuild/CMakeCache.txt
Build/Debug/_deps/stbi-subbuild/CMakeFiles/3.28.0-msvc1/CMakeSystem.cmake
Build/Debug/_deps/stbi-subbuild/CMakeFiles/cmake.check_cache
Build/Debug/_deps/stbi-subbuild/CMakeFiles/CMakeConfigureLog.yaml
Build/Debug/_deps/stbi-subbuild/CMakeFiles/rules.ninja
Build/Debug/_deps/stbi-subbuild/CMakeFiles/stbi-populate-complete
Build/Debug/_deps/stbi-subbuild/CMakeFiles/stbi-populate.dir/Labels.json
Build/Debug/_deps/stbi-subbuild/CMakeFiles/stbi-populate.dir/Labels.txt
Build/Debug/_deps/stbi-subbuild/CMakeFiles/TargetDirectories.txt
Build/Debug/_deps/stbi-subbuild/CMakeLists.txt
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-build
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-configure
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-done
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-download
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-gitclone-lastrun.txt
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-gitinfo.txt
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-install
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-mkdir
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-patch
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-patch-info.txt
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-test
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/src/stbi-populate-stamp/stbi-populate-update-info.txt
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/tmp/stbi-populate-cfgcmd.txt
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/tmp/stbi-populate-gitclone.cmake
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/tmp/stbi-populate-gitupdate.cmake
Build/Debug/_deps/stbi-subbuild/stbi-populate-prefix/tmp/stbi-populate-mkdirs.cmake
Build/Debug/build.ninja
Build/Debug/cmake_install.cmake
Build/Debug/CMakeCache.txt
Build/Debug/CMakeFiles/3.28.0-msvc1/CMakeCCompiler.cmake
Build/Debug/CMakeFiles/3.28.0-msvc1/CMakeCXXCompiler.cmake
Build/Debug/CMakeFiles/3.28.0-msvc1/CMakeDetermineCompilerABI_C.bin
Build/Debug/CMakeFiles/3.28.0-msvc1/CMakeDetermineCompilerABI_CXX.bin
Build/Debug/CMakeFiles/3.28.0-msvc1/CMakeRCCompiler.cmake
Build/Debug/CMakeFiles/3.28.0-msvc1/CMakeSystem.cmake
Build/Debug/CMakeFiles/3.28.0-msvc1/CompilerIdC/CMakeCCompilerId.c
Build/Debug/CMakeFiles/3.28.0-msvc1/CompilerIdC/CMakeCCompilerId.exe
Build/Debug/CMakeFiles/3.28.0-msvc1/CompilerIdC/CMakeCCompilerId.obj
Build/Debug/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Build/Debug/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CMakeCXXCompilerId.exe
Build/Debug/CMakeFiles/3.28.0-msvc1/CompilerIdCXX/CMakeCXXCompilerId.obj
Build/Debug/CMakeFiles/cmake.check_cache
Build/Debug/CMakeFiles/CMakeConfigureLog.yaml
Build/Debug/CMakeFiles/rules.ninja
Build/Debug/CMakeFiles/ShowIncludes/foo.h
Build/Debug/CMakeFiles/ShowIncludes/main.c
Build/Debug/CMakeFiles/ShowIncludes/main.obj
Build/Debug/CMakeFiles/TargetDirectories.txt
Build/Debug/Source/EditorApplication/cmake_install.cmake
Build/Debug/Source/Runtime/cmake_install.cmake
Build/Debug/Testing/Temporary/LastTest.log
Build/Debug/VSInheritEnvironments.txt
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/6a973fcbf18c4961/WINDOW.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/c93eb9dbb0ed449/APPLICATION.ipch
.vs/Plancksoft-Game-Engine/FileContentIndex/e57b418c-5e0e-4359-9862-0f7f3e7e2282.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/a11eaaf4-f6da-43dc-ab1b-5f613b2d67ec.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/77a006ba-62d8-4d62-812d-e5ce775ff405.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/7f4b0332-d3b5-4687-8ce9-f35bd77c75c2.vsidx
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/515c22d72a4de464/MAIN.ipch
.vs/Plancksoft-Game-Engine/FileContentIndex/68ec1dab-3ac9-47e6-a237-ff88dacbac5d.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/c7affce7-c7c0-490f-b320-62bb52fc4717.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/c9c6d8df-9f9e-4cc9-a6e9-79ac0c02c6b6.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/cbd37e71-09ba-470f-acdb-a44171ca2b92.vsidx
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/29855ddafdde19ef/WINDOWMANAGER.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/96264de5e677f735/WINDOW.ipch
.vs/Plancksoft-Game-Engine/FileContentIndex/c88e269f-5b2b-4e13-83e5-bc0cf46df266.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/f16a81bf-0983-4d44-ab45-d90e4f402758.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/8a2869d2-fbff-4324-a4b0-282776d0c42b.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/dd09686f-956c-43d2-a94e-3924a0f988c8.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/1a2a5d2b-1430-4b53-b86c-b790e15020e7.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/1d93b4ad-e3a9-48f7-9c61-6d4f16b90b65.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/f750ba41-9203-4831-870e-4123eb886ed8.vsidx
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/50e4cb16995faa98/MAIN.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/3797ea3eb1330c1b/RENDERER.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/3797ea3eb1330c1b/RENDERER.ipch
.vs/Plancksoft-Game-Engine/FileContentIndex/991f1b71-af23-47cb-800b-d62efb6ce22e.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/c35de675-ef91-44f4-aced-6d337ee7a377.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/ec80ef18-6feb-4a19-878b-8c4230ca5e09.vsidx
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/3797ea3eb1330c1b/RENDERER.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/3797ea3eb1330c1b/RENDERER.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/3797ea3eb1330c1b/RENDERER.ipch
.vs/Plancksoft-Game-Engine/FileContentIndex/de66231e-bf7f-4edc-82ec-34aecdbb575a.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/e8d518d8-4731-4a31-9fae-4cb411f711f5.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/fc295e86-1466-4551-8f68-2fcec0474995.vsidx
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/b96d71a84b32618b/OBJECT.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/c21421a4bae1136f/RENDERER.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/e047d3b1b4eac677/OBJECT.ipch
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/f2a0580eb015921e/OBJECT.ipch
.vs/Plancksoft-Game-Engine/FileContentIndex/4d083863-d10d-4049-afb0-eb65b2d3b3ad.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/d5ab5e27-68e3-4932-a0b7-8a15cbc807f1.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/dc2b3eca-8df2-4e75-a959-48d7eba4733c.vsidx
.vs/Plancksoft-Game-Engine/v17/ipch/AutoPCH/1f312837dc7b9595/RENDERERMANAGER.ipch
.vs/Plancksoft-Game-Engine/FileContentIndex/deb9efb3-4364-4c7e-bcb6-85d246809855.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/4d02ccd6-93fa-4f91-9d15-b7f26c9e395e.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/69918da0-328f-4cce-8a39-506cc7780d22.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/fd795128-138c-4c79-8ef6-d51efb3762bc.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/09f3141d-f1d2-4ab7-8ad1-e498524aa451.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/13d80b1b-7265-427e-8ce1-1407ac534fa9.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/6527d675-97e1-4c67-90db-d243e3c25c25.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/7b365986-fca5-4049-9524-1f032f51dc12.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/b601b36b-babc-4373-b311-2872a2691200.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/d35e8ed1-c855-4dce-ac87-a05f05e794f9.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/13d80b1b-7265-427e-8ce1-1407ac534fa9.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/7b365986-fca5-4049-9524-1f032f51dc12.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/d35e8ed1-c855-4dce-ac87-a05f05e794f9.vsidx
.vs/Plancksoft-Game-Engine/FileContentIndex/875d5d9a-b427-4090-bacd-65be8d30ca29.vsidx
